html {
	font-family: "Fira Sans", sans-serif;
	font-size: 10px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
}

#viewfinder-view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#viewfinder-view > fxos-camera {
	width: 100%;
	height: 100%;
}

#viewfinder-view > .controls {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
}

#viewfinder-view > .controls[data-orientation="portrait-primary"] {
	flex-flow: row nowrap;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8rem;
}

#viewfinder-view > .controls[data-orientation="portrait-secondary"] {
	flex-flow: row-reverse nowrap;
	top: 0;
	left: 0;
	width: 100%;
	height: 8rem;
}

#viewfinder-view > .controls[data-orientation="landscape-primary"] {
	flex-flow: column-reverse nowrap;
	right: 0;
	bottom: 0;
	width: 8rem;
	height: 100%;
}

#viewfinder-view > .controls[data-orientation="landscape-secondary"] {
	flex-flow: column nowrap;
	bottom: 0;
	left: 0;
	width: 8rem;
	height: 100%;
}

#viewfinder-view > .controls > button {
	border: none;
	border-radius: 50%;
	padding: 0;
	width: 6rem;
	height: 6rem;
	transition: opacity 0.2s;
}

#viewfinder-view > .controls > button[disabled] {
	opacity: 0;
}

#viewfinder-view > .controls > button[data-action="preview"] {
	background: none;
	border: none;
	position: relative;
	overflow: hidden;
}

#viewfinder-view > .controls > button[data-action="preview"] > .thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#counter-view {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 3rem;
	box-sizing: border-box;
	color: #fff;
	font-size: 2rem;
	line-height: 1em;
	position: absolute;
	padding: 2rem;
	width: 12rem;
	height: 6rem;
	transition: opacity 0.2s;
}

#counter-view.hidden {
	opacity: 0;
}

#counter-view[data-orientation="portrait-primary"] {
	text-align: right;
	top: 2rem;
	left: 2rem;
}

#counter-view[data-orientation="portrait-secondary"] {
	text-align: left;
	right: 2rem;
	bottom: 2rem;
}

#counter-view[data-orientation="landscape-primary"] {
	text-align: right;
	bottom: 2rem;
	left: 2rem;
}

#counter-view[data-orientation="landscape-secondary"] {
	text-align: left;
	top: 2rem;
	right: 2rem;
}

#counter-view:before {
	content: '';
	background-color: #f00;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 2.2rem;
	width: 1.6rem;
	height: 1.6rem;
}

#counter-view[data-orientation="portrait-primary"]:before,
#counter-view[data-orientation="landscape-primary"]:before {
	left: 2.2rem;
}

#counter-view[data-orientation="portrait-secondary"]:before,
#counter-view[data-orientation="landscape-secondary"]:before {
	right: 2.2rem;
}
